.container {
  width: 100%;  
  height: 100%;
  display: flex;
  flex-direction: column;

  .content {
    flex: 1;
  }

  .footer {
    flex: 0 0 auto;
    height: 100px;
    display: flex;
    background-color: #f7f7f7;

    a {
      width: 50%;
      height: 100%;
      text-align: center;
      line-height: 100px;
    }
  }
}