* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff
}

button, input, textarea, a, img {
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
}

@media screen and (max-width: 300px) {
  html {
      font-size: 12px;
  }
}

@media screen and (min-width: 500px) {
  html {
      font-size: 20px;
      margin: 0 auto;  /* 让窗口水平居中展示 */
  }
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f7f7f7;
}

.container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.fade-enter {
  opacity: 0;
  transform: scale(1.1);
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity .25s ease,
    transform .3s ease;
}

.fade-exit {
  opacity: 1;
  transform: scale(1);
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity .25s ease,
    transform .3s ease;
}
